.bodyy {
  height: 45px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px rgba(45, 45, 56, 0.76);
}

.inner-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.list-items ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  position: relative;
  z-index: 21;
}
.list-items ul li {
  margin-left: 10px;
  text-decoration: none;
}
.list-items ul li:hover {
  color: blue;
  cursor: pointer;
}
.toggle-btn {
  display: none;
}
#abc:hover{
  color: blue !important; 
}
@media (max-width: 700px) {
  .list-items ul {
    display: none;
    transform: scale(0);
    transition: transform 0.5s ease;
    position: relative;
    z-index: 10;

  }

  .list-items1 ul {
    display: block;
    list-style: none;
    transform: scale(1);
    transition: transform 0.5s ease;
    line-height: 30px;
    margin-left: -236px;
    border-radius: 8px;
    position: relative;
    z-index: 10;
   background-color: rgb(146, 147, 148);
  }
  .list-items1 ul li:nth-child(even){
color: rgb(43, 43, 44);
  }
  .toggle-btn {
    display: block;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
  }
  .toggle-btn1 {
    display: block;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 134px;
    margin-bottom: 15px;
   
  }
  .list-items1 ul li {
    margin-left: 10px;
  }
  .list-items1 ul li:hover {
    color: blue;
    cursor: pointer;
  }
}




@media (max-width: 395px) {
  .list-items ul {
    display: none;
    transform: scale(0);
    transition: transform 0.5s ease;
  }

  .list-items1 ul {
    display: block;
    list-style: none;
    transform: scale(1);
    transition: transform 0.5s ease;
    line-height: 30px;
    margin-left: -120px;
    border-radius: 8px;
   
  }
}

