.about {
margin-left: 50px;
margin-right: 50px;
}
.about h2{
margin-top: 10px;
margin-bottom: 10px;
}

.missions{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(125px,1fr));
    grid-column-gap: 10px;
    margin-left: 50px;
margin-right: 50px;
margin-top: 20px;
}

.mission div{
text-align: center;

}
.mission p{
text-align: center;
margin-top: 15px;
}

.comp-logos{
    display: grid;
    margin-top: 20px;
    

}

.comp-logos h2{
margin-top: 10px;
margin-bottom: 10px;
    text-align: center;
}

.comp-imgs{
    display: flex;
    align-items: center;
   
    justify-content: space-around;
    overflow-x: scroll;
    
   

}
.comp-imgs::-webkit-scrollbar{
    display: none;
}

.comp-imgs img{

    margin-left: 10px;
}

.img-btns button {
   height: 40px;
   width: 30px;
   font-size: 20px;
   font-weight: bolder;
   font-style: oblique;
   background-color: rgba(248, 246, 246, 0.658);
   border-radius: 2px;
   outline: none;
   border: 0px;
   cursor: pointer;
   left:0;
}
.img-btns button:hover{
    background-color: rgb(155, 151, 151);
}

.img-btns{
    display:none;
}
@media (max-width:1087px) {
    .comp-imgs{
        justify-content: space-between;
    }

    .logo-scroll{
        
            display:flex;
            align-items:center;
            overflow:hidden;
       
    }
    .img-btns{
        display:block;
    }
}