.about {
margin-left: 50px;
margin-right: 50px;
}
.about h2{
margin-top: 10px;
margin-bottom: 10px;
}

.missions{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(125px,1fr));
    grid-column-gap: 10px;
    margin-left: 50px;
margin-right: 50px;
margin-top: 20px;
}

.mission div{
text-align: center;

}
.mission p{
text-align: center;
margin-top: 15px;
}

.comp-logos{
    display: grid;
    margin-top: 20px;

}

.comp-logos h2{
margin-top: 10px;
margin-bottom: 10px;
    text-align: center;
}

.comp-imgs{
    display: flex;
    align-items: center;
   
    justify-content: space-around;
    overflow-x: scroll
}
.comp-imgs::-webkit-scrollbar{
    display: none;
}

.comp-imgs img{
    margin-left: 10px;
}