.footer{
    width: 100%;
    align-items: center;
    text-align: center;
    height: 250px;
    color: white;
    padding-top: 20px;
    
    background-color: rgb(70, 54, 33);
}
.copyright{
   
margin-top: 25px;
    color: white;
    text-align: center;
}
.copyright1{
margin-top: 25px;
font-family: sans-serif;
line-height: 30px;
}
.contacts{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* grid-template-columns: repeat('auto-fit',minmax(250px,1fr)); */
    color: white;
    margin-top: 15px;
    
}

.contacts div{
cursor: pointer;

}
.contacts div img{
cursor: pointer;
height: 25px;

}